﻿@inject Microsoft.AspNetCore.Authorization.IAuthorizationService Auth

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="navbar-brand">
        <a href="/"><img width="32" src="~/assets/img/Logo.png"></a>
        @*<a href="https://twitter.com/piranhacms" target="blank"><img src="~/assets/img/twitter.png"></a>
        <a href="https://github.com/piranhacms/piranha.core" target="blank"><img src="~/assets/img/github.png"></a>*@
    </div>
    <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#mobileNavbar" aria-controls="mobileNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="mobileNavbar">
        <ul class="mr-auto navbar-nav flex-grow-1">

            @foreach (var item in await WebApp.Site.Sitemap.ForUserAsync(User, Auth))
            {
                if (!item.IsHidden && item.Permalink != "/")
                {
                    <li class="nav-item @(item.Id == WebApp.PageId || item.HasChild(WebApp.PageId) ? "active" : "")">
                        <a class="nav-link" href="@WebApp.Url(item)">@item.MenuTitle</a>
                    </li>
                }
            }

            @if (User.Identity?.IsAuthenticated == true)
            {
            <li class="nav-item">
                <a class="nav-link" asp-area="Vote" asp-page="/Create">Neuen Fall anlegen</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-area="Vote" asp-page="/Browse">Fälle entdecken</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-area="Vote" asp-page="/Statistics">Statistiken und Analysen</a>
            </li>
            }

        </ul>
        <partial name="_LoginPartial" />
    </div>
</nav>
