@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting

@inject Microsoft.Extensions.Options.IOptions<Vote.Models.Settings.VoteSettings> VoteSettings
@inject IWebHostEnvironment Env

<!doctype html>
<html lang="de-de">
<head>
    @if (!User.Identity?.IsAuthenticated == true && !Env.IsDevelopment())
    {
        <!-- Insert analytics here -->
    }
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    @* Install font-face to avoid chaining critical requests (html -> css -> ttf) *@
    <style>
        @@font-face {
            font-family: Roboto;
            src: url(@Url.Content("~/assets/Roboto-Regular.ttf"));
        }
    </style>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <title>@ViewBag.Title</title>

    @await RenderSectionAsync("head", required: false)
    @*@RenderSection("head", required: false)*@
</head>
<body>
    @* Cookie banner only required when not essential cookie are being used => https://www.getlaw.de/blog/cookies-rechtssicher-einsetzen-so-gehts/
        <partial name="Partial/_CookieConsentPartial" />*@
    <header role="banner">
        <partial name="Partial/_Menu.cshtml" />
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    &copy; @DateTime.UtcNow.Year (@VoteSettings.Value.TagVersion) - <a href="/">bürger-stimme.de</a> - <a asp-area="Legal" asp-page="Impressum">Impressum</a>
                    - <a asp-area="Legal" asp-page="Datenschutz">Datenschutz</a>
                </div>
            </div>
        </div>
    </footer>

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@

    @*@RenderSection("script", required: false)*@
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>