﻿@page
@model Vote.Areas.Manage.Pages.User.DetailsModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VoteUser.CustomTag2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VoteUser.CustomTag2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VoteUser.LockoutEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VoteUser.LockoutEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VoteUser.TwoFactorEnabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VoteUser.TwoFactorEnabled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VoteUser.PhoneNumberConfirmed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VoteUser.PhoneNumberConfirmed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VoteUser.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VoteUser.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VoteUser.ConcurrencyStamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VoteUser.ConcurrencyStamp)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VoteUser.SecurityStamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VoteUser.SecurityStamp)
        </dd>*@
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VoteUser.PasswordHash)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VoteUser.PasswordHash)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VoteUser.EmailConfirmed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VoteUser.EmailConfirmed)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VoteUser.NormalizedEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VoteUser.NormalizedEmail)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VoteUser.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VoteUser.Email)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VoteUser.NormalizedUserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VoteUser.NormalizedUserName)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VoteUser.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VoteUser.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VoteUser.LockoutEnabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VoteUser.LockoutEnabled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VoteUser.AccessFailedCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VoteUser.AccessFailedCount)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VoteUser.Roles, "Role")
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.VoteUser.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
</body>
</html>
