@model Piranha.Extend.Blocks.AudioBlock

@if (Model?.Body != null)
{
    <div class="block">
        <audio width="100%" controls>
            <source src="@Url.Content(Model.Body)" type="">
            Your browser does not support the audio tag.
        </audio>
    </div>
}