@model Piranha.Extend.Blocks.QuoteBlock

@if (Model?.Body != null)
{
    <div class="block">
        <blockquote class="blockquote">
            <p>@Model.Body</p>
            @if (!string.IsNullOrEmpty(Model.Author))
            {
                <footer class="blockquote-footer">@Model.Author</footer>
            }
        </blockquote>
    </div>
}