﻿@page
@model Vote.Areas.Manage.Pages.InstitutionType.DetailsModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4>InstitutionType</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstitutionType.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstitutionType.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstitutionType.Branch)
            </dt>
            @if (Model.InstitutionType.Branch != null)
            {
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.InstitutionType.Branch!.Name)
                </dd>
            }
        </dl>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.InstitutionType.Id">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
</body>
</html>
