﻿@using Microsoft.AspNetCore.Identity
@using VoteDatabase.Models.BO
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (User.Identity != null && SignInManager.IsSignedIn(User))
{
    if (User.IsInRole(VoteDatabase.Constants.Roles.Administrator))
    {
    <li class="nav-item">
        <a class="nav-link text-dark" href="~/cms">CMS</a>
    </li>
    }
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    @if (Vote.Constants.VoteConfig.EnableRegisterPage)
    {
        <text>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        </text>
    }
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
