﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>When you see this, you need to configure a CMS page <b>and publish it</b>!</p>
    <p>To do so, visit <a href="/cms">the awesome Piranha administration interface</a>.</p>
</div>
